<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config /> <!-- allows us to use spring annotations in beans -->



    <!-- ******************** -->
    <!-- Factory declartions -->
    <!-- ******************** -->
    <bean id="serviceFactory" class="org.dspace.factory.DSpaceServiceFactoryImpl"/>
    <bean id="authorizeServiceFactory" class="org.dspace.authorize.factory.AuthorizeServiceFactoryImpl"/>
    <bean id="versionServiceFactory" class="org.dspace.versioning.factory.DSpaceVersionServiceFactoryImpl"/>
    <bean id="coreServiceFactory" class="org.dspace.core.factory.CoreServiceFactoryImpl"/>
    <bean id="storageServiceFactory" class="org.dspace.storage.factory.StorageServiceFactoryImpl"/>
    <bean id="eventServiceFactory" class="org.dspace.event.factory.EventServiceFactoryImpl"/>
    <bean id="ePersonServiceFactory" class="org.dspace.eperson.factory.EPersonServiceFactoryImpl"/>
    <bean id="embargoFactory" class="org.dspace.embargo.factory.EmbargoServiceFactoryImpl"/>
    <bean id="contentAuthorityServiceFactory" class="org.dspace.content.authority.factory.ContentAuthorityServiceFactoryImpl"/>


    <!-- ******************** -->
    <!-- Service declarations -->
    <!-- ******************** -->
    <bean class="org.dspace.content.BitstreamFormatServiceImpl"/>
    <bean class="org.dspace.content.BitstreamServiceImpl"/>
    <bean class="org.dspace.content.BundleServiceImpl"/>
    <bean class="org.dspace.content.ItemServiceImpl"/>
    <bean class="org.dspace.content.CollectionServiceImpl"/>
    <bean class="org.dspace.content.CommunityServiceImpl"/>

    <bean class="org.dspace.eperson.EPersonServiceImpl"/>
    <bean class="org.dspace.eperson.GroupServiceImpl"/>
    <bean class="org.dspace.eperson.RegistrationDataServiceImpl"/>
    <bean class="org.dspace.eperson.AccountServiceImpl"/>

    <bean class="org.dspace.authorize.ResourcePolicyServiceImpl"/>
    <bean class="org.dspace.authorize.AuthorizeServiceImpl"/>


    <bean class="org.dspace.core.LicenseServiceImpl"/>
    <bean class="org.dspace.core.NewsServiceImpl"/>

    <bean class="org.dspace.content.MetadataFieldServiceImpl"/>
    <bean class="org.dspace.content.MetadataSchemaServiceImpl"/>
    <bean class="org.dspace.content.MetadataValueServiceImpl"/>
    <bean class="org.dspace.content.SubscriptionServiceImpl"/>
    <bean class="org.dspace.content.WorkspaceItemServiceImpl"/>
    <bean class="org.dspace.content.InstallItemServiceImpl"/>
    <bean class="org.dspace.content.SupervisedItemServiceImpl"/>
    <bean class="org.dspace.content.authority.ChoiceAuthorityServiceImpl"/>
    <bean class="org.dspace.content.authority.MetadataAuthorityServiceImpl"/>

    <bean class="org.dspace.embargo.EmbargoServiceImpl"/>

    <bean class="org.dspace.event.EventServiceImpl"/>


    <bean class="org.dspace.handle.HandleServiceImpl"/>

    <bean class="org.dspace.harvest.HarvestedItemServiceImpl"/>
    <bean class="org.dspace.harvest.HarvestedCollectionServiceImpl"/>

    <bean class="org.dspace.storage.bitstore.BitstreamStorageServiceImpl"/>


    <bean class="org.dspace.checker.ChecksumResultServiceImpl"/>
    <bean class="org.dspace.checker.MostRecentChecksumServiceImpl"/>
    <bean class="org.dspace.checker.ChecksumHistoryServiceImpl"/>

    <bean class="org.dspace.identifier.DOIServiceImpl"/>

    <bean class="org.dspace.app.util.WebAppServiceImpl"/>

    <!--TODO: Comment this out, shouldn't always be enabled-->
    <bean id="org.dspace.versioning.VersioningService" class="org.dspace.versioning.VersionServiceImpl">
        <property name="provider">
            <!-- Default Item Versioning Provider, defines behavior for replicating
                 Item, Metadata, Budles and Bitstreams. Autowired at this time. -->
            <bean class="org.dspace.versioning.DefaultItemVersionProvider">
                <property name="ignoredMetadataFields">
                    <set>
                        <value>dc.date.accessioned</value>
                        <value>dc.description.provenance</value>
                    </set>
                </property>

            </bean>
        </property>
    </bean>

    <bean class="org.dspace.versioning.VersionHistoryServiceImpl"/>

    <!-- ********************* -->
    <!-- Workflow declarations -->
    <!-- ********************* -->

    <!-- Basic workflow configuration (the default) -->
    <bean id="workflowFactory" class="org.dspace.workflowbasic.factory.BasicWorkflowServiceFactoryImpl"/>

    <bean id="basicWorkflowServiceFactory" class="org.dspace.workflowbasic.factory.BasicWorkflowServiceFactoryImpl"/>
    <bean class="org.dspace.workflowbasic.BasicWorkflowServiceImpl"/>
    <bean class="org.dspace.workflowbasic.BasicWorkflowItemServiceImpl"/>
    <bean class="org.dspace.workflowbasic.TaskListItemServiceImpl"/>

    <!-- Xml Workflow configuration (optional)-->
    <!--<bean id="workflowFactory" class="org.dspace.xmlworkflow.factory.XmlWorkflowServiceFactoryImpl"/>-->
    <!--<bean id="xmlWorkflowServiceFactory" class="org.dspace.xmlworkflow.factory.XmlWorkflowServiceFactoryImpl" />-->
    <!--<bean class="org.dspace.xmlworkflow.factory.XmlWorkflowFactoryImpl"/>-->
    <!--<bean class="org.dspace.xmlworkflow.XmlWorkflowServiceImpl"/>-->
    <!--<bean class="org.dspace.xmlworkflow.WorkflowRequirementsServiceImpl"/>-->
    <!--<bean class="org.dspace.xmlworkflow.storedcomponents.ClaimedTaskServiceImpl"/>-->
    <!--<bean class="org.dspace.xmlworkflow.storedcomponents.CollectionRoleServiceImpl"/>-->
    <!--<bean class="org.dspace.xmlworkflow.storedcomponents.InProgressUserServiceImpl"/>-->
    <!--<bean class="org.dspace.xmlworkflow.storedcomponents.PoolTaskServiceImpl"/>-->
    <!--<bean class="org.dspace.xmlworkflow.storedcomponents.WorkflowItemRoleServiceImpl"/>-->
    <!--<bean class="org.dspace.xmlworkflow.storedcomponents.XmlWorkflowItemServiceImpl"/>-->



    <!-- **************** -->
    <!-- DAO declarations -->
    <!-- **************** -->
    <bean class="org.dspace.content.dao.impl.BitstreamDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.BitstreamFormatDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.BundleDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.CollectionDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.CommunityDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.ItemDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.MetadataFieldDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.MetadataSchemaDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.MetadataValueDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.SubscriptionDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.WorkspaceItemDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.SupervisedItemDAOImpl"/>

    <bean class="org.dspace.workflowbasic.dao.impl.BasicWorkflowItemDAOImpl"/>
    <bean class="org.dspace.workflowbasic.dao.impl.TaskListItemDAOImpl"/>

    <bean class="org.dspace.eperson.dao.impl.EPersonDAOImpl"/>
    <bean class="org.dspace.eperson.dao.impl.GroupDAOImpl"/>
    <bean class="org.dspace.eperson.dao.impl.RegistrationDataDAOImpl"/>
    <bean class="org.dspace.eperson.dao.impl.Group2GroupCacheDAOImpl"/>
    <bean class="org.dspace.eperson.dao.impl.Group2GroupDAOImpl"/>

    <bean class="org.dspace.handle.dao.impl.HandleDAOImpl"/>

    <bean class="org.dspace.authorize.dao.impl.ResourcePolicyDAOImpl"/>

    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.ClaimedTaskDAOImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.CollectionRoleDAOImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.InProgressUserDAOImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.PoolTaskDAOImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.WorkflowItemRoleDAOImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.XmlWorkflowItemDAOImpl"/>

    <bean class="org.dspace.harvest.dao.impl.HarvestedItemDAOImpl"/>
    <bean class="org.dspace.harvest.dao.impl.HarvestedCollectionDAOImpl"/>

    <bean class="org.dspace.checker.dao.impl.ChecksumResultDAOImpl"/>
    <bean class="org.dspace.checker.dao.impl.MostRecentChecksumDAOImpl"/>
    <bean class="org.dspace.checker.dao.impl.ChecksumHistoryDAOImpl"/>

    <bean class="org.dspace.identifier.dao.impl.DOIDAOImpl"/>

    <bean class="org.dspace.app.util.dao.impl.WebAppDAOImpl"/>


    <bean class="org.dspace.versioning.dao.impl.VersionHistoryDAOImpl"/>
    <bean class="org.dspace.versioning.dao.impl.VersionDAOImpl"/>

</beans>