<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config /> <!-- allows us to use spring annotations in beans -->

    <bean id="managerFactory" class="org.dspace.factory.ManagerFactoryImpl"/>

    <!-- ******************** -->
    <!-- Manager declarations -->
    <!-- ******************** -->
    <bean id="org.dspace.content.BitstreamFormatManager" class="org.dspace.content.BitstreamFormatManagerImpl"/>
    <bean id="org.dspace.content.BitstreamManager" class="org.dspace.content.BitstreamManagerImpl"/>
    <bean id="org.dspace.content.BundleManager" class="org.dspace.content.BundleManagerImpl"/>
    <bean id="org.dspace.content.ItemManager" class="org.dspace.content.ItemManagerImpl"/>
    <bean id="org.dspace.content.CollectionManager" class="org.dspace.content.CollectionManagerImpl"/>
    <bean id="org.dspace.content.CommunityManager" class="org.dspace.content.CommunityManagerImpl"/>
    <bean id="org.dspace.eperson.EPersonManager" class="org.dspace.eperson.EPersonManagerImpl"/>
    <bean id="org.dspace.eperson.GroupManager" class="org.dspace.eperson.GroupManagerImpl"/>
    <bean id="org.dspace.authorize.ResourcePolicyManager" class="org.dspace.authorize.ResourcePolicyManagerImpl"/>
    <bean id="org.dspace.content.MetadataFieldManager" class="org.dspace.content.MetadataFieldManagerImpl"/>
    <bean id="org.dspace.content.MetadataSchemaManager" class="org.dspace.content.MetadataSchemaManagerImpl"/>
    <bean id="org.dspace.content.MetadataValueManager" class="org.dspace.content.MetadataValueManagerImpl"/>
    <bean id="org.dspace.content.WorkspaceItemManager" class="org.dspace.content.WorkspaceItemManagerImpl"/>

    <bean id="org.dspace.workflow.WorkflowItemManager" class="org.dspace.workflow.WorkflowItemManagerImpl"/>
    <bean id="org.dspace.workflow.TaskListItemManager" class="org.dspace.workflow.TaskListItemManagerImpl"/>

    <!-- **************** -->
    <!-- DAO declarations -->
    <!-- **************** -->
    <bean id="org.dspace.content.BitstreamDAO" class="org.dspace.content.BitstreamDAOImpl"/>
    <bean id="org.dspace.content.BitstreamFormatDAO" class="org.dspace.content.BitstreamFormatDAOImpl"/>
    <bean id="org.dspace.content.BundleDAO" class="org.dspace.content.BundleDAOImpl"/>
    <bean id="org.dspace.content.CollectionDAO" class="org.dspace.content.CollectionDAOImpl"/>
    <bean id="org.dspace.content.CommunityDAO" class="org.dspace.content.CommunityDAOImpl"/>
    <bean id="org.dspace.content.ItemDAO" class="org.dspace.content.ItemDAOImpl"/>
    <bean id="org.dspace.content.MetadataFieldDAO" class="org.dspace.content.MetadataFieldDAOImpl"/>
    <bean id="org.dspace.content.MetadataSchemaDAO" class="org.dspace.content.MetadataSchemaDAOImpl"/>
    <bean id="org.dspace.content.MetadataValueDAO" class="org.dspace.content.MetadataValueDAOImpl"/>
    <bean id="org.dspace.content.WorkspaceItemDAO" class="org.dspace.content.WorkspaceItemDAOImpl"/>

    <bean id="org.dspace.workflow.WorkflowItemDAO" class="org.dspace.workflow.WorkflowItemDAOImpl"/>
    <bean id="org.dspace.workflow.TaskListItemDAO" class="org.dspace.workflow.TaskListItemDAOImpl"/>

    <bean id="org.dspace.eperson.EPersonDAO" class="org.dspace.eperson.EPersonDAOImpl"/>
    <bean id="org.dspace.eperson.GroupDAO" class="org.dspace.eperson.GroupDAOImpl"/>

    <bean id="org.dspace.handle.HandleDAO" class="org.dspace.handle.HandleDAOImpl"/>

    <bean id="org.dspace.authorize.ResourcePolicyDAO" class="org.dspace.authorize.ResourcePolicyDAOImpl"/>



</beans>