<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config /> <!-- allows us to use spring annotations in beans -->

    <bean id="serviceFactory" class="org.dspace.factory.DSpaceServiceFactoryImpl"/>

    <!-- ******************** -->
    <!-- Manager declarations -->
    <!-- ******************** -->
    <bean class="org.dspace.content.BitstreamFormatServiceImpl"/>
    <bean class="org.dspace.content.BitstreamServiceImpl"/>
    <bean class="org.dspace.content.BundleServiceImpl"/>
    <bean class="org.dspace.content.ItemServiceImpl"/>
    <bean class="org.dspace.content.CollectionServiceImpl"/>
    <bean class="org.dspace.content.CommunityServiceImpl"/>
    <bean class="org.dspace.eperson.EPersonServiceImpl"/>
    <bean class="org.dspace.eperson.GroupServiceImpl"/>
    <bean class="org.dspace.eperson.RegistrationDataServiceImpl"/>
    <bean class="org.dspace.authorize.ResourcePolicyServiceImpl"/>
    <bean class="org.dspace.content.MetadataFieldServiceImpl"/>
    <bean class="org.dspace.content.MetadataSchemaServiceImpl"/>
    <bean class="org.dspace.content.MetadataValueServiceImpl"/>
    <bean class="org.dspace.content.SubscriptionServiceImpl"/>
    <bean class="org.dspace.content.WorkspaceItemServiceImpl"/>

    <bean class="org.dspace.workflow.WorkflowItemServiceImpl"/>
    <bean class="org.dspace.workflow.TaskListItemServiceImpl"/>

    <bean class="org.dspace.handle.HandleServiceImpl"/>

    <bean class="org.dspace.harvest.HarvestedItemServiceImpl"/>
    <bean class="org.dspace.harvest.HarvestedCollectionServiceImpl"/>


    <bean class="org.dspace.xmlworkflow.storedcomponents.ClaimedTaskServiceImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.CollectionRoleServiceImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.InProgressUserServiceImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.PoolTaskServiceImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.WorkflowItemRoleServiceImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.XmlWorkflowItemServiceImpl"/>

    <bean class="org.dspace.checker.ChecksumResultServiceImpl"/>
    <bean class="org.dspace.checker.MostRecentChecksumServiceImpl"/>
    <bean class="org.dspace.checker.ChecksumHistoryServiceImpl"/>


    <!-- **************** -->
    <!-- DAO declarations -->
    <!-- **************** -->
    <bean class="org.dspace.content.dao.impl.BitstreamDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.BitstreamFormatDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.BundleDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.CollectionDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.CommunityDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.ItemDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.MetadataFieldDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.MetadataSchemaDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.MetadataValueDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.SubscriptionDAOImpl"/>
    <bean class="org.dspace.content.dao.impl.WorkspaceItemDAOImpl"/>

    <bean class="org.dspace.workflow.dao.impl.WorkflowItemDAOImpl"/>
    <bean class="org.dspace.workflow.dao.impl.TaskListItemDAOImpl"/>

    <bean class="org.dspace.eperson.dao.impl.EPersonDAOImpl"/>
    <bean class="org.dspace.eperson.dao.impl.GroupDAOImpl"/>
    <bean class="org.dspace.eperson.dao.impl.RegistrationDataDAOImpl"/>

    <bean class="org.dspace.handle.dao.impl.HandleDAOImpl"/>

    <bean class="org.dspace.authorize.dao.impl.ResourcePolicyDAOImpl"/>

    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.ClaimedTaskDAOImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.CollectionRoleDAOImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.InProgressUserDAOImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.PoolTaskDAOImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.WorkflowItemRoleDAOImpl"/>
    <bean class="org.dspace.xmlworkflow.storedcomponents.dao.impl.XmlWorkflowItemDAOImpl"/>

    <bean class="org.dspace.harvest.dao.impl.HarvestedItemDAOImpl"/>
    <bean class="org.dspace.harvest.dao.impl.HarvestedCollectionDAOImpl"/>

    <bean class="org.dspace.checker.dao.impl.ChecksumResultDAOImpl"/>
    <bean class="org.dspace.checker.dao.impl.MostRecentChecksumDAOImpl"/>
    <bean class="org.dspace.checker.dao.impl.ChecksumHistoryDAOImpl"/>






</beans>