<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:testdb;shutdown=false;sql.syntax_pgs=true;check_props=true;sql.enforce_size=false</property>
        <property name="hibernate.connection.username">dspace</property>
        <property name="hibernate.connection.password">dspace</property>
        <property name="hibernate.connection.pool_size">10</property>

        <property name="show_sql">true</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.hbm2ddl.import_files">database_schema.sql</property>
        <property name="hibernate.hbm2ddl.import_files_sql_extractor">org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <mapping class="org.dspace.content.WorkspaceItem"/>
        <mapping class="org.dspace.eperson.EPerson"/>
        <mapping class="org.dspace.eperson.Group"/>
        <mapping class="org.dspace.content.Community"/>
        <mapping class="org.dspace.content.Collection"/>
        <mapping class="org.dspace.content.Bitstream"/>
        <mapping class="org.dspace.content.Item"/>
        <mapping class="org.dspace.content.BitstreamFormat"/>
        <mapping class="org.dspace.content.Bundle"/>
        <mapping class="org.dspace.content.MetadataValue"/>
        <mapping class="org.dspace.content.MetadataSchema"/>
        <mapping class="org.dspace.content.MetadataField"/>
        <mapping class="org.dspace.content.SupervisedItem"/>
        <mapping class="org.dspace.handle.Handle"/>
        <mapping class="org.dspace.authorize.ResourcePolicy"/>
    </session-factory>
</hibernate-configuration>